.bodyClass {
    
    text-align: center;
    margin: 200px;
    width: 68%;
    border: 4px solid thistle;
    padding: 70px;
   
  } 


  .answersButton {
    background-color:thistle;
    border: none;
    padding: 60px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
    border-radius: 35%;
  }